body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.form {
  /* The image used */
  background-image: url("backImg.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 10%;
}

.para{
  color: white;
  font-size: 30px;
  font-family: 'Lexend Zetta', sans-serif;
}

.info{
  color: white;
  font-family: 'Lexend Zetta', sans-serif;
  /* text-align: center; */
}

input{
  width: 50%;
  height: 8%;
  border-radius: 5px;
  background-color: black;
  text-align: center;
}

i {
  margin-left: -2em;
  margin-top: 1em;
  position:absolute;
  color: white;
}

/* Changes the textcolor when searching to white */
input, select, option {
  color: white;
  font-size: 15px;
}

#demo{
  width: 90%;
  list-style-position: inside;
}

#cmd{
  color: white;
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 10px;
}
