body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
}

.form {
  /* The image used */
  background-image: url("unsplash.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20%;
}

p{
  color: white;
}

input{
  width: 50%;
  height: 8%;
  border-radius: 5px;
  background-color: black;
  text-align: center;
}

i{
  top: 44%;
    right: 27%;
    /* left: 60%; */
    position: absolute;
}

/* Changes the textcolor when searching to white */
input, select, option {
  color:white;
  font-size: 10px;
}

::placeholder{
  opacity: 1px;
}
