body{
  background-color: #bb3b0e;
}

.form{
  text-align: center;
  padding-top: 20%;
}

.textBox{
  width: 50%;
  height: 8%;
  border: gradient;
  border-radius: 5px;
  position: relative;
  background-color: black;
}

i{
  width: 10%;
  height: 10%;
  border-radius: 5px;
  left: 60%;
  /* background-color: black; */
  position: absolute;
}

/* Changes the textcolor when searching to white */
input, select, option {
color:white;
font-size: 15px;
}

::placeholder{
  opacity: 1px;
}
